<br>

<div class="container container-fluid">

    <div class="row navbar navbar-default">

        <ul class="nav navbar-nav">
            <li role="presentation" class="active"><a href="#/home">{{'menu.home'|dxI18n}}</a></li>
            <li role="presentation" class=""><a href="#/about">{{'menu.about'|dxI18n}}</a></li>
            <li role="presentation" class=""><a href="#/help">{{'menu.help'|dxI18n}}</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right user-info">
            <li ng-hide="isAuthenticated()" class="">
                <div class="user-google-sign-button">
                    <google-plus-signin clientid="{{googleClientId}}"></google-plus-signin>
                </div>
            </li>
            <li ng-show="isAuthenticated()" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{user.name}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Minha conta</a>
                    </li>
                    <li>
                        <a href="#">Historico</a>
                    </li>
                    <li>
                         <a href="#">
                            <span class="user-balance" ng-class="user.balance >= 0 ? 'text-success' : 'text-danger'">
                                {{'user.balance'|dxI18n}} <span class="bold">{{(user.balance||0)|currency}}</span>
                            </span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" ng-click="logout()">{{'user.logout'|dxI18n}}</a>
                    </li>
                </ul>
            </li>
            <li ng-show="isAuthenticated()" class="">
                <img src="{{user.imageUrl}}"/>
            </li>
        </ul>

    </div>

</div>
