<head>
    <title>{{'app.title'|dxI18n}}</title>
</head>
<body>
    <div class="container ircalc-container" ng-controller="BarzingaController" ng-init="init()" class="">
        <!-- AdSense -->
        <div class="row panel-heading">
        </div>
        <!-- Header -->
        <div class="row panel panel-heading">
            <div class="col-sm-8">
                <img ng-src="{{'favicon'|dxImg}}" class="favicon"><span class="h1">{{'app.title'|dxI18n}}</span>
            </div>
        </div>
        <br>
        <br>
    </div>
</body>