<head>
    <title>{{'app.title'|dxI18n}}</title>
</head>
<div class="container container-content" ng-controller="HomeController" ng-init="init()">
    <div class="row barzinga-logo">
        <img src="img/bazinga-logo.png" class="center-block" />
    </div>
    <div class="row stock">
        <div class="col-sm-4 stock-items" ng-repeat="item in items  | orderBy: 'name' | orderBy: activesFirst">
            <!-- <span class="center-block btn btn-danger">{{item.name}}</span> -->
            <div class="item center-block" ng-click="buy(item)" ng-class="item.amount > 0 ? 'active' : 'inactive'"
                title="{{item.amount > 0 ? 'item.buy.click' : 'item.buy.outofstock' | dxI18n:item.name}}" >
                <span class="item-price">{{item.price|currency}}</span>
                <img src="{{'item-'+item.code|dxImg}}" class="center-block" />
            </div>
            <br>
            <br>
            <!-- <span class="center-block btn btn-primary">{{item.amount}}</span> -->
        </div>
    </div>
</div>
