body {
    /*background-color: #D80A0A;*/
}

.logo {
    margin: 50px 0;    
}

.logo img {
    /*width: 700px;*/
}

.bold {
    font-weight: bold;
}

.container {
    max-width: 720px;
}

.container h1 {
    color: #D80A0A;
}

.container-header{
}

.container-content {
    /*background-color: red;*/
    /*border: 1px solid #ebccd1;*/
    /*border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    min-height: 100%;
}

.container-footer {
}

.container-footer img {
    height: 70px;
    padding: 20px;
}

.favicon {
    float: left;
    height: 24px;
    margin: 9px 30px 0 10px;
}

.item {
    text-align: center;
}

.item-area {
    /*color: #428bca;*/
    /*color: #d9534f;*/
    /*color: #f0ad4e;*/
    /*color: #5cb85c;*/
    background-color: white;
    border: 7px solid;
    border-radius: 50%;
    height: 195px;
    width: 195px;
}

.item-area img {
    border-radius: 50%;
    height: 180px;
    /*outline: 2px solid darkblue;*/
    /*outline-radius: 50px;*/
    max-width: 180px;
}

.item-area .item-detail {
    font-weight: bold;
    opacity: 0.0;
    position: absolute;
}

.item-area.inactive {
    border-color: #aaa;
}

.item-area.inactive img {
    opacity: 0.4;
}

.item-area.inactive:hover {
    border-color: #ccc;
}

.item-area.inactive:hover img {
    opacity: 0.3;
}

.item-area.inactive .item-detail {
    font-size: 28px;
    left: 16%;
    top: 35%;
}

.item-area.inactive:hover .item-detail {
    opacity: 1.0;
}

.item-area.active {
    border-color: #D80A0A;
}

.item-area.active:hover {
    border-color: #EAD158;
    opacity: 1.0;
}

.item-area.active:hover img {
    opacity: 0.4;
    cursor: pointer;
}

.item-area.active .item-detail {
    font-size: 40px;
    left: 15%;
    top: 30%;
}

.item-area.active:hover .item-detail {
    opacity: 1.0;
}

.item-label {
    color: #555;
}

.item-label:hover {
    color: #333;
    cursor: pointer;
}

.user-info {
    /*float: right;*/
}

.user-info img {
    border-radius: 50%;
    height: 45px;
    margin: 3px 18px 0 6px;
}

.user-info .user-summary {
    /*display: inline-block;*/
    /*float: left;*/
}

.user-info .user-sign-message {
    /*float: left;*/
}

.user-info .user-google-sign-button {
    /*float: right;*/
    margin: 7px 7px 0 7px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px !important;
}

.user-signin-message {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 150px 0 200px 0;
}